{#
 # Footer
 #
 # @package WordPress
 # @subpackage AurelieLamy
 #
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}

<footer class="{{ html_classes( 'bg-black pt-13 pb-10', classes | default( [] ) | join( ' ' ) ) }}">
	<div class="container">
		<div class="row">
			<div>
				<img class="" width="262" height="19" src="{{ theme.manifest[ 'img/svg/careformance.svg' ] }}" />
			</div>
		</div>
	</div>
</footer>
